<!DOCTYPE html>
<html>
<head>
    <title>KCL</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!-- Banner -->
<div class="banner">
    {% if banner %}
    <img src="{{ url_for('static', filename='images/banner/' + banner) }}">
    {% endif %}
</div>

<!-- Navigation -->
<div class="nav">
    <a href="/">Home</a>
    <a href="/stats">Scorecard</a>
    <a href="/team">Team Info</a>
    <a href="/fixture">Match Fixture</a>
    <a href="/points">Points Table</a>
    {% if admin %}

<a href="/live">Live Score Update</a>

<a href="/logout" onclick="return confirm('Logout?')">Logout</a>

{% else %}
<a href="/login">Admin</a>
{% endif %}
</div>

<!-- Live Score Card -->
<!-- 🔥 LIVE CONTAINER -->
<div id="home-live-container">
    {% include "home_live_partial.html" %}
</div>
<div class="history-nav">
    <button onclick="scrollHistory(-400)">⬅</button>
    <button onclick="scrollHistory(400)">➡</button>
</div>
<h3> Latest Match</h3>
<!-- Latest News -->
<div id="latest-history-container"></div>


<h3 style="color:#080808;font-weight:bold;">Sponsor By</h3>
<!-- Image Slider -->
<div class="slider">
    <div class="slider-track">

        {% for img in sponsors %}
        <img src="{{ url_for('static', filename='images/uploads/' + img) }}">
        {% endfor %}

        {% for img in sponsors %}
        <img src="{{ url_for('static', filename='images/uploads/' + img) }}">
        {% endfor %}

        {% for img in sponsors %}
        <img src="{{ url_for('static', filename='images/uploads/' + img) }}">
        {% endfor %}

        {% for img in sponsors %}
        <img src="{{ url_for('static', filename='images/uploads/' + img) }}">
        {% endfor %}
    </div>
</div>


<!-- Next Match -->
<h3>Next Match</h3>

<div class="matches">

{% set count = namespace(value=0) %}

{% for match in fixtures %}

    {% if not match.completed and count.value < 2 %}

    {% set count.value = count.value + 1 %}

    <div class="card match">

        <!-- 🔥 TIME + DATE -->
        <div class="match-time">
            {{ match.time }}
            <div class="match-date">
                {{ match.date }}
            </div>
        </div>

        <!-- 🔥 TEAMS -->
        <div class="teams-row">

            <div class="team">
                <img src="{{ url_for('static', filename='images/teams/' + match.team1 + '.png') }}">
                <p>{{ match.team1 }}</p>
            </div>

            <!-- 🔥 VS + STAGE -->
            <div class="vs-box">

                <div class="vs">VS</div>

                {% if match.stage == "knockout" %}
                <div class="stage-tag knockout">Knock Out</div>

                {% elif match.stage == "final" %}
                <div class="stage-tag final">Final 🏆</div>
                {% endif %}

            </div>

            <div class="team">
                <img src="{{ url_for('static', filename='images/teams/' + match.team2 + '.png') }}">
                <p>{{ match.team2 }}</p>
            </div>

        </div>

    </div>

    {% endif %}

{% endfor %}

</div>
<h3 style="color:#080808;font-weight:bold;">KCL News</h3>
<!-- Image Slider -->
<div class="slider">
    <div class="slider-track"style="height:220px;">

        {% for img in news_images %}
        <img src="{{ url_for('static', filename='images/news_images/' + img)}}" style="height:200px;width:auto;">
        {% endfor %}

        {% for img in news_images %}
        <img src="{{ url_for('static', filename='images/news_images/' + img)}}" style="height:200px;width:auto;">
        {% endfor %}

        {% for img in news_images %}
        <img src="{{ url_for('static', filename='images/news_images/' + img)}}" style="height:200px;width:auto;">
        {% endfor %}

        {% for img in news_images %}
        <img src="{{ url_for('static', filename='images/news_images/' + img)}}" style="height:200px;width:auto;">
        {% endfor %}
    </div>
</div>

<script>
setInterval(() => {
    fetch("/home-live-data")
        .then(res => res.text())
        .then(html => {
            document.getElementById("home-live-container").innerHTML = html;
        });
}, 1000);

</script>
<!-- auto off-->
<!--<script>
setInterval(() => {
    fetch("/latest-history?t=" + new Date().getTime())
        .then(res => res.text())
        .then(html => {
            document.getElementById("latest-history-container").innerHTML = html;
        });
}, 2000); // 2 sec
</script>
<script>
function goDetails(file){
    window.location.href = "/match-details?file=" + file;
}
</script> -->
<script>
function loadLatestHistory(){
    fetch("/latest-history?t=" + Date.now())
        .then(res => res.text())
        .then(html => {
            document.getElementById("latest-history-container").innerHTML = html;
        });
}

// 🔥 only first load
loadLatestHistory();
</script>
<script>
document.getElementById("latest-history-container")
.addEventListener("click", function(e){

    let card = e.target.closest(".history-card");

    if(!card) return;

    let file = card.getAttribute("data-file");

    if(file){
        window.location.href = "/match-details?file=" + file;
    }

});
</script>
<script>
function scrollHistory(amount){

    document.getElementById("latest-history-container")
    .scrollBy({
        left: amount,
        behavior: "smooth"
    });

}
</script>
<script src="{{ url_for('static', filename='css/js/script.js') }}"></script>
</body>
</html>