<!DOCTYPE html>
<html>
<head>
    <title>Squad Update</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="nav">
    <a href="/live">Back</a>
    <a href="/">Home</a>
    <a href="/stats">Scorecard</a>
    <a href="/team">Team Info</a>
    <a href="/fixture">Match Fixture</a>
    <a href="/points">Points Table</a>
    <a href="/comments">Comments</a>
    
</div>

<h2 class="fixture-title">Squad Update</h2>

<!-- 🔥 TEAM GRID -->
<div class="team-grid">
    {% for team in teams %}
    <a href="/squad/{{team}}" class="team-card">

        <img loading="lazy" src="{{ url_for('static', filename='images/teams/' + team + '.webp') }}">
        <p>{{ team }}</p>

    </a>
    {% endfor %}
</div>
<script>

fetch("/heartbeat")

setInterval(()=>{

fetch("/heartbeat")

},10000)

</script>
</body>
</html>