<!DOCTYPE html>
<html>
<head>
    <title>Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="nav">
    <a href="/">Home</a>
    <a href="/stats">Scorecard</a>
    <a href="/team">Team Info</a>
    <a href="/fixture">Match Fixture</a>
    <a href="/points">Points Table</a>
</div>

<h2 class="fixture-title">Match Stats</h2>

<!-- 🔥 CARDS -->
<div class="matches">

    <div class="team-card row-card center-card">
        <a href="/most-runs">🏏 Most Runs</a>
    </div>

    <div class="team-card row-card center-card">
        <a href="/most-wicket">🎯 Most Wickets</a>
    </div>

    <div class="team-card row-card center-card">
        <a href="/all-match">📁 All Matches</a>
    </div>

</div>
<script>

fetch("/heartbeat")

setInterval(()=>{

fetch("/heartbeat")

},5000)

</script>
</body>
</html>